---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import FeaturedWork from "../components/FeaturedWork.astro";
import OpenSource from "../components/OpenSource.astro";
---

<Layout title="pybash">
  <main class="flex items-center justify-center min-h-screen py-10">
    <div class="flex flex-col items-start max-w-[40%] w-[40%] gap-14">
      <h3 class="font-medium text-xl">PyBash</h3>
      <div class="text-white/70 -mt-12">
        A little kid with big dreams.
        <br />
        I talk about technology, design, and life.
      </div>
      <div class="flex flex-col gap-4 w-full">
        <h5 class="font-medium text-white/80">Featured Work</h5>
        <FeaturedWork
          works={[
            {
              name: "Harvence",
              description: "Live a better life, eat better food.",
              type: "APP",
              link: "https://harvence.pybash.xyz",
            },
            {
              name: "Deva.me",
              description: "A blend of AI people with crypto.",
              type: "STARTUP",
              link: "https://deva.me",
            },
            {
              name: "Purp.game",
              description: "Distributed rewards for your followers.",
              type: "WEBSITE",
            },
            {
              name: "Rift",
              description: "Sell stuff on the internet with crypto.",
              type: "STARTUP",
            },
            {
              name: "Elusidate",
              description: "Analyze data at the speed of thought using AI.",
              type: "STARTUP",
            },
          ]}
        />
      </div>
      <div class="flex flex-col gap-6 w-full">
        <h5 class="font-medium text-white/80">Giving Back</h5>
        <OpenSource
          works={[
            {
              name: "Besafe - Protect your environment variables",
              type: "GITHUB",
              link: "https://github.com/pybash1/besafe",
            },
            {
              name: "Winnf - For the Unixporn guys",
              type: "GITHUB",
              link: "https://github.com/pybash1/winnf",
            },
            {
              name: "Today - Simplest task manager",
              type: "GITHUB",
              link: "https://github.com/pybash1/today",
            },
          ]}
        />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
