---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Work">
  <div class="flex w-full flex-col gap-16 px-4 py-2">
    <div class="flex flex-col gap-4">
      <h1 class="text-justify text-3xl font-medium">
        Engineer with over half a decade of experience<br />in building products
        that delight users.
      </h1>
      <h1 class="text-justify text-3xl font-medium">
        Now with <a
          href="https://merin.ai"
          class="transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Merin</a
        >.
      </h1>
    </div>
    <div class="flex flex-col gap-2 text-sm font-medium">
      <h2 class="text-xs text-white/80">Talk</h2>
      <div class="flex flex-col gap-1">
        <a
          href="mailto:hi@pybash.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >hi@pybash.xyz</a
        >
        <a
          href="https://twitter.com/py_bash1"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >@py_bash1</a
        >
        <a
          href="https://github.com/pybash1"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >@pybash1</a
        >
        <span class="w-fit">@pybash on Discord</span>
      </div>
    </div>
    <div class="flex flex-col gap-2 text-sm font-medium">
      <h2 class="text-xs text-white/80">Work</h2>
      <div class="flex flex-col gap-1">
        <a
          href="https://merin.ai"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Merin</a
        >
        <a
          href="https://deva.me"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >10Planet</a
        >
        <a
          href="https://harvence.pybash.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Harvence</a
        >
        <a
          href="https://dripcraft.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Dripcraft</a
        >
        <a
          href="https://onrift.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Rift</a
        >
        <a
          href="https://purp.game"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >purp.game</a
        >
        <a
          href="https://github.com/pybash1/today"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Today</a
        >
        <a
          href="https://solo.pybash.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Solo</a
        >
        <a
          href="https://authdeck.xyz"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Authdeck</a
        >
        <a
          href="https://supertable.fun"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Supertable</a
        >
      </div>
    </div>
    <div class="flex flex-col gap-2 text-sm font-medium">
      <h2 class="text-xs text-white/80">Volunteering</h2>
      <div class="flex flex-col gap-1">
        <a
          href="https://wildcard.lol"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Wildcard</a
        >
        <a
          href="https://classify.org.uk"
          class="w-fit transition-colors duration-500 ease-in-out hover:bg-white hover:text-black"
          >Classify</a
        >
      </div>
    </div>
  </div>
  <Footer />
</Layout>
