---
import ScrambleText from "../components/ScrambleText";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ananjan mitra">
  <main class="flex flex-col gap-6 p-4">
    <div>
      ananjan mitra <span class="text-xs text-muted">aka pybash</span
      >
    </div>
    <div>Wandering &bull; prev <a href="https://grasslabs.dev" class="hover:text-accent">grass labs</a>; <a href="https://deva.me" class="hover:text-accent">10Planet</a></div>
    <div>
      <a
      href="https://github.com/pybash1"
      class="hover:text-accent"
      >Twitter</a
      > &bull;
      <a
      href="mailto:hi@pybash.xyz?subject=Let's%20Talk"
      class="hover:text-accent">Mail</a
      > &bull;
      <a
      href="https://instagram.com/ananjan_"
      class="hover:text-accent">Pics</a
      > &bull;
      <a
      href="https://open.spotify.com/user/rt8p12krtiu6swjyzuvxv9ok4"
      class="hover:text-accent">Music</a
      > &bull;
      <a
      href="https://github.com/pybash1"
      class="hover:text-accent">Github</a
      >
    </div>
    <div class="font-mono text-3xl uppercase font-semibold flex flex-wrap gap-x-10">
      <div>
        <a href="https://harvence.pybash.xyz" class="hover:text-accent">Harvence</a> 2025  
      </div>
      <div>
        <span><ScrambleText text="Coming Soon" speed={100} client:load/></span> 2026
      </div>
      <div>
        <span><ScrambleText text="Coming Soon" speed={100} client:load/></span> 2026
      </div>
      <div>
        <a href="https://journal.pybash.xyz" class="hover:text-accent">Journal</a> 2025
      </div>
      <div>
        <a href="https://dripcraft.xyz" class="hover:text-accent">Dripcraft</a> 2024
      </div>
      <div>
        <a href="https://deva.me" class="hover:text-accent">Deva.me</a> 2024
      </div>
      <div>
        <a href="https://github.com/pybash1/winnf" class="hover:text-accent">Winnf</a> 2024
      </div>
      <div>
        <a href="https://github.com/pybash1/today" class="hover:text-accent">Today</a> 2023
      </div>
      <div>
        <a href="https://merin.ai" class="hover:text-accent">Me<ScrambleText text="rin" speed={100} client:load/></a> <ScrambleText text="20XX" speed={100} client:load/>
      </div>
      <div>
        <span>Rift</span> 2024
      </div>
      <div>
        <span>XIRL</span> 2024
      </div>
      <div>
        <span>Supertable</span> 20XX
      </div>
      <div>
        <span>Authdeck</span> 2023
      </div>
      <div>
        <span>Solo</span> 2023
      </div>
      <div>
        <a href="https://quokka-corner.vercel.app" class="hover:text-accent">Quokka</a> 2025
      </div>
      <div>
        <span>Classify</span> 2022
      </div>
    </div>
    <div class="text-sm">Based in Calcutta, India.</div>
    <footer class="text-muted">&copy; 2025 ananjan mitra</footer>
  </main>
</Layout>
