---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.tsx";
import Info from "../components/Info";
---

<Layout title="Work">
  <div class="flex w-full items-center justify-between">
    <div class="flex flex-col gap-16 px-4 py-2">
      <div class="flex flex-col gap-4">
        <h1 class="text-justify text-3xl font-medium">
          Engineer with over half a decade of experience<br />in building
          products that delight users.
        </h1>
        <h1 class="text-justify text-3xl font-medium">
          Now with <Link href="https://merin.ai" item="merin" client:load
            >Merin</Link
          >.
        </h1>
      </div>
      <div class="flex flex-col gap-2 text-sm font-medium">
        <h2 class="text-xs text-white/80">Talk</h2>
        <div class="flex flex-col gap-1">
          <Link href="mailto:hi@pybash.xyz" item="mail" client:load
            >hi@pybash.xyz</Link
          >
          <Link href="https://twitter.com/py_bash1" item="twitter" client:load
            >@py_bash1</Link
          >
          <Link href="https://github.com/pybash1" item="github" client:load
            >@pybash1</Link
          >
          <span class="w-fit">@pybash on Discord</span>
        </div>
      </div>
      <div class="flex flex-col gap-2 text-sm font-medium">
        <h2 class="text-xs text-white/80">Work</h2>
        <div class="flex flex-col gap-1">
          <Link href="https://merin.ai" item="merin" client:load>Merin</Link>
          <Link href="https://deva.me" item="deva" client:load>10Planet</Link>
          <Link href="https://harvence.pybash.xyz" item="harvence" client:load
            >Harvence</Link
          >
          <Link href="https://dripcraft.xyz" item="dripcraft" client:load
            >Dripcraft</Link
          >
          <Link href="https://onrift.xyz" item="rift" client:load>Rift</Link>
          <Link href="https://purp.game" item="purp" client:load>purp.game</Link
          >
          <Link href="https://github.com/pybash1/today" item="today" client:load
            >Today</Link
          >
          <Link href="https://solo.pybash.xyz" item="solo" client:load
            >Solo</Link
          >
          <Link href="https://authdeck.xyz" item="authdeck" client:load
            >Authdeck</Link
          >
          <Link href="https://supertable.fun" item="supertable" client:load
            >Supertable</Link
          >
        </div>
      </div>
      <div class="flex flex-col gap-2 text-sm font-medium">
        <h2 class="text-xs text-white/80">Volunteering</h2>
        <div class="flex flex-col gap-1">
          <Link href="https://wildcard.lol" item="wildcard" client:load
            >Wildcard</Link
          >
          <Link href="https://classify.org.uk" item="classify" client:load
            >Classify</Link
          >
        </div>
      </div>
    </div>
    <Info client:load />
  </div>
  <Footer />
</Layout>
