---
interface Props {
  title: string;
  subtitle: string;
  content: string;
}

const { title, subtitle, content } = Astro.props;
---

<div>
  <div class="font-sans">{title}</div>
  <div class="font-sans text-xs uppercase text-gray-600">{subtitle}</div>
  <div class="font-condensed text-justify">
    {content}
  </div>
</div>
