---
import { Image } from "astro:assets";
import seal from "../assets/seal.png";
---

<div
  class="mt-2 flex items-center justify-between border-t border-writing px-12 py-6"
>
  <Image src={seal} alt="seal" class="w-24" />
  <div class="italic">Printing good news for everyone.</div>
  <div class="font-blackletter text-3xl">&copy; Est. 2021</div>
</div>
