---
import LiveFeed from "./LiveFeed.astro";
---

<div
  class="fixed bottom-0 flex w-full items-center justify-between bg-white px-3 py-2 text-xs dark:bg-black"
>
  <div>
    PyBash &copy; {new Date().getFullYear()}
  </div>
  <div>
    India &bull; {
      new Date().toLocaleTimeString(undefined, {
        timeZone: "Asia/Calcutta",
        timeStyle: "short",
        hour12: false,
      })
    } &bull; <LiveFeed />
  </div>
</div>
