---
import { getArtist, getSong, getSongUrl } from "../lib/utils";

const song = await getSong();
const artist = await getArtist();
const songUrl = await getSongUrl();
---

<span>
  {
    song ? (
      <>
        Listening to{" "}
        <a
          href={songUrl}
          target="_blank"
          class="transition duration-500 ease-in-out hover:bg-white hover:text-black"
        >
          {song}
        </a>{" "}
        - {artist?.split("; ").slice(0, 2).join(", ")}
        {artist?.split("; ").length! > 2 && ", others"}
      </>
    ) : (
      "Contemplating life"
    )
  }
</span>
