---
interface Props {
  works: {
    name: string;
    type: "GITHUB";
    link?: string;
  }[];
}

const { works } = Astro.props;
---

<div class="rounded-xl flex flex-col divide-y-2 divide-neutral-800 w-full">
  {
    works.map((work) => (
      <a
        class={`flex items-center justify-between py-2 first:pt-0 last:pb-0 ${work.link ? "cursor-ne-resize" : ""}`}
        href={work.link}
        target="_blank"
      >
        <span class="text-sm">{work.name}</span>
        <span class="uppercase font-mono text-white/50 font-thin text-xs">
          {work.type}
        </span>
      </a>
    ))
  }
</div>
