---
import "../styles/globals.css";
import SmoothScroll from "../components/SmoothScroll";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Making things, but with more intention" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-transparent text-primary selection:bg-accent selection:text-white overflow-x-hidden">
    <SmoothScroll client:load />
    <slot />
  </body>
</html>
