---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Making things, but with more intention" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <style>
      /* Font face declarations for Ellograph CF */
      @font-face {
        font-family: "Ellograph CF";
        src: url("/fonts/EllographCF-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Ellograph CF";
        src: url("/fonts/EllographCF-DemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      /* Font face declaration for Quincy CF Text Italic */
      @font-face {
        font-family: "Quincy CF Text Italic";
        src: url("/fonts/QuincyCF-Italic.woff2") format("woff2");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      /* Selection color matching bradley's site */
      ::selection {
        background-color: #95e78e;
        color: #062c02;
      }
    </style>
  </head>
  <body class="min-h-screen font-serif leading-relaxed antialiased">
    <slot />
  </body>
</html>
